@{
    ViewBag.Title = "Index";
}

<h2>Server Registration</h2>

<input id="btnRegister" type="button" value="Register" onclick="ServerRegistration()" />
<input id="btnUnregister" type="button" value="Unregister" onclick="ServerUnRegistration()" />